@import url('https://fonts.googleapis.com/css?family=Ubuntu');

*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

.Navigation{
    width: 100%;
    height: 50px;
    background-color: black;
    position: fixed;
}

body {
    padding: 0px;
    margin: 0px;
    margin-bottom: 10px;
    border: 0px;
    width: 100%;
    background: black;
   /* background-image: url("waveypuff\ background\ image\ 1.jpg");
    -moz-opacity: 0.5;
        -khtml-opacity: 0.5;
        opacity: 0.5; */ 
}

a {
    color: white;
    margin-left: 15px;
    font-weight: bolder;
    
    
}

a:link {
    text-decoration: none;
}

a:hover {
    color: purple;
}

nav {
    float: right;
    margin-top: 15px;
    margin-right: 15px;
}

img {
    float: left;
    height: 50%;
    width: 5%;
    padding-top: 10px;
    padding-left: 10px;
}

.Homepage {
    width: 100%; 
    height: 600px; 
   background-image: url("images/waveypuff\ homepage\ background\ image.jpg"); 
   background-color: #9932CC;
   margin-top: -25px;
    
}

.Homepage p {
    text-align: center;
    font-size: 70pt;
    font-weight: bolder;
    color: white;
    margin-top: 25px;
    padding-top: 150px;
}

.Servicepage {
    width: 100%;
    height: 600px; 
  background-image: url("images/waveypuff\ background\ image\ 1.jpg");
    margin-top: -100px; 
    
}

.Servicepage h1 {
    font-size: 40pt;   
    color: white;
    background-color: black; 
    text-align: center;
    padding-top: 50px;
    text-shadow: 5px 2px 4px green;
}

.itembox {
    background-color: white;
    height: 350px;
    width:350px;
    float: left;
    /*align-items: left; */
    margin-left: 50px;
    margin-top: 50px;
    margin-right: 50px;
    padding: 15px;
    box-shadow: 
    12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  letter-spacing: 5px;
 
}

.servicebox {
    background-color: pink;
  /*  align-items: center; */
    height: 350px;
    width: 350px;
    margin-top: 50px;
    margin-left: 450px;
    padding: 15px;
    box-shadow: 
    12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  letter-spacing: 5px;
}

.bestsellers {
    background-color: lightgreen;
    /*align-items: right; */
    height: 350px;
    width: 350px;
    float: right;
    margin-left: 950px;
    margin-top: -400px;
    margin-right: 50px;
    padding: 15px;
    box-shadow: 
    12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  letter-spacing: 5px;
}

.about {
    background-color: black;
    width: 100%;
    height: 450px;
    margin-top: -25px;
    border-style: groove;
    border-color: white;
    border-right: 0px;
    border-left: 0px;
    color: white;
    padding: 10px;
    
   
}

.about span {
    margin-top: 30px;
}

.about h1 {
    font-size: 40pt;   
    color: white; 
    text-align: center;
    text-shadow: 5px 2px 4px green; 
    color: black;
}


.about img {
    height: 200px;
    width: 200px;
    border-radius: 100px;
    background-color: black;
    float: left;
    margin: 10px;
    padding: 10px;
}

.contact-us {
    width: 400px;
    height: 500px;
    background: #fff;
    padding: 50px;
    margin: 50px;
   float: left;
    border-radius: 30px;
    /*position: absolute; */
}

.title h1{
    color: black;
    letter-spacing: 5px;
    margin-bottom: 25px;
    text-align: center;
}

.formItems {
    position: relative;
}

.formItems .formInput {
width: 100%;
margin-bottom: 12px;
padding: 15px 40px;
  box-sizing: border-box;
  background: #ebeef1;
  border: 0px;
  outline: none;
  border-radius: 30px;
}

.formItems #multiLineInput {
    height: 125px;
    border-radius: 15px;
    margin-bottom: 30px;
    padding: 15px 15px;
    resize: none;
}

.button {
    background: #827ffe;
    color: white;
    text-align: center;
    padding: 12px;
    margin-top: 10px;
    border-radius: 25px;
    cursor: pointer;
    border: none;
}

.button .fas {
    margin-left: 10px;
    font-size: 12px;
}

.formItems .fas{
    position: absolute;
    left: 15px;
    margin-top: 15px;  
}

.social-icons {
    position: relative;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.social-icons div {
    width: 50px;
    height: 50px;
    background: purple;
    border-radius: 50%;
    position: relative;
    cursor: pointer;

}

.social-icons div .fab {
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translateX(-50%, -50%);
    color: black;
}

.social-icons div.facebook{
    background: #5178d9;
  }
  
  .social-icons div.twitter{
    background: #41caf6;
  }
  
  .social-icons div.google{
    background: #fb4f4f;
  }

.login {
    width: 400px;
    height: 500px;
    background: #fff;
    float: right;
    padding: 50px;
    margin: 50px;
    border-radius: 30px;
}

.loginForm .loginInput {
    width: 100%;
margin-bottom: 12px;
padding: 15px 40px;
  box-sizing: border-box;
  background: #ebeef1;
  border: 0px;
  outline: none;
  border-radius: 30px;
}




